
/*================= CAJA 1 ==================*/
.box-container-1{
    width: 90%;
    justify-content: center;
    display: grid;
    grid-template-columns: 40vw 40vw;
}


/*================= TEXT ==================*/

.text-container-1{
    background-image: url(img/cccd.jpg);
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.title-text-container-1 {
    font-size: 3.5rem;
    font-weight: 700;
}

.list-text-container-1{
    margin-top: 40px;
}

.item-list{
    line-height: 3vw;
    font-size: 1.3rem;
}

.button-1{
    cursor: pointer;
    margin-top: 40px;
    border: none;
    padding: 20px;
    width: 50%;
    color: #ffffff;
    text-transform: uppercase;
    border-radius: 55px;
    background-color: #1e486f;
    font-weight: 700;
    letter-spacing: 2px;
}

.button-1:hover{
    background-color: #ffffff;
    color: #1e486f;
}

/*================= IMAGENES ================*/

.photo-container-1{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    height: 100%;
}

.img-figure{
    width: 100%;
    height: 100%;
    display: flex;
}